header {
    background: url(page-header.jpg);
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 1%;
    margin-bottom: 5px;
}

.table-wrapper {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    height: 100%;
    width: 1000px;
    background: rgba(255, 255, 255, .75);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.food-image {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
}

.buttons {
    text-align: center;
}

#plantainF {
    overflow-x: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0 100px;
    background: url(plantain-fritters.jpg);
    height: 100%;
    display: flex;
}

#FOOD2 {
    overflow-x: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0 100px;
    background: url(tika-masala.jpg);
    height: 100%;
    display: flex;
}

a {
    margin-left: 10px;
    text-decoration: none
}