.table-wrapper { 
	overflow-x:hidden;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 505px;
    scroll-behavior: smooth;
	border: 1px solid black;
}
body {
	font-family: sans-serif;
}

p{
  width: 500px;
}

.buttons{
  text-align: center;
}

a{
  margin-left: 10px;
  text-decoration:none
}
.foodimage {
	float: right;
	width: 320px;
}
.top {
  content: "";
  clear: both;
  display: table;
  font-size: 16pt;
  width: 500px;
}
td {
	width: 500px;
}
table {
	width: 500px;
}