.table-wrapper {
    overflow-x: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    height: 100%;
    width: 1000px;
    scroll-behavior: smooth;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.food-image {
    float: right;
    margin-right: 3%;
}

.buttons {
    text-align: center;
}

#plantainF {
    padding: 0 100px;
    background: url(plantain-fritters.jpg);
    height: 100vh;
    display: flex;
}

a {
    margin-left: 10px;
    text-decoration: none
}